<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This app was created by Ayushman Rathore. It uses data from weatherstat.com!</p>
        <img class="portrait" src="/img/1 (23).JPEG">
    </div>
    
    {{>footer}}
</body>

</html>