<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/icon.png">
    <i class="fa-solid fa-cloud"></i>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your Weather!</p>



        <form id="weather-form" action="">
            <input id="search-field" type="text" placeholder="location">
            <button>Search</button>
        </form>
        <div class="weather-info-container">
            <img class="weather-icon" alt="weather-icon" id="weather-icon">
            <p class="msg-1" id="message-1"></p>
            <p class="msg-2" id="message-2"></p>
        </div>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>