body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

.portrait {
    width: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 20%;
    object-position: left center;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin: 16px 0 48px 0;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

.weather-info-container {
    margin-top: 18px;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
        "icon msg-1"
        "icon msg-2";
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
}

.weather-icon {
    grid-area: icon;
    display: none;
    border-radius: 18%;
    width: 60px;
    object-fit: cover;
    object-position: center;
}

.weather-icon,
.msg-1,
.msg-2 {
    margin: 0;
}

.msg-1 {
    grid-area: msg-1;
}

.msg-2 {
    grid-area: msg-2;
}